* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 12rem;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-weight: 400;
  font-size: 1.6rem;
  overflow-x: hidden;
}

html {
  /* font-size: 10px */
  /* 10px / 16p = 0.625 = 62.5 % */
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* **********************************  */
/* GENERAL COMPONENTS */
/* **********************************  */

.heading-primary,
.heading-secondary {
  font-weight: 700;
  color: var(--heading-color);
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--subheading-color);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  color: #fff;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  text-decoration: none;
  transition: all 0.25s ease-in;
  font-weight: 600;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.btn-primary:link,
.btn-primary:visited {
  background-color: #1864ab;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: #1971c2;
}

.btn-outline:link,
.btn-outline:visited {
  color: var(--btn-outline-color);
}

.btn-outline:hover,
.btn-outline:active {
  color: #666;
}
.btn-form {
  background-color: var(--cta-btn-bgcolor);
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}

.btn-form:hover {
  background-color: #fff;
  color: #555;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgb(24, 100, 171, 0.5);
}

.link:link,
.link:visited {
  display: inline-block;
  color: #1971c2;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.25s ease;
}

.link:hover,
.link:active {
  color: #1864ab;
  border-bottom: 1px solid transparent;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.text-center {
  text-align: center !important;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 9.6rem 6.4rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-col-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid-vcenter {
  align-items: center;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}

strong {
  font-weight: 500;
}

/* Animations  */

@keyframes FadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes FadeOutTop {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-4rem);
  }
}

/* **********************************  */
/* Fixing Safari Flexbox Gap Property */
/* **********************************  */

.no-flexbox-gap .main-nav-list li:not(:last-child) {
  margin-right: 4.8rem;
}

.no-flexbox-gap .list-item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.no-flexbox-gap .list-icon:not(:last-child) {
  margin-right: 1.6rem;
}

.no-flexbox-gap .delivered-faces {
  margin-right: 1.6rem;
}

.no-flexbox-gap .meal-attribute:not(:last-child) {
  margin-bottom: 2rem;
}

.no-flexbox-gap .meal-icon {
  margin-right: 1.6rem;
}

.no-flexbox-gap .footer-row div:not(:last-child) {
  margin-right: 6.4rem;
}

.no-flexbox-gap .social-links li:not(:last-child) {
  margin-right: 2.4rem;
}

.no-flexbox-gap .footer-nav li:not(:last-child) {
  margin-bottom: 2.4rem;
}

@media (max-width: 75em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 3.2rem;
  }
}

@media (max-width: 59em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4.8rem;
  }
}
